name: Playwright tests in Docker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright-tests:
    runs-on: ubuntu-latest

    container:
      image: mcr.microsoft.com/playwright:v1.56.1-jammy

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          npm ci

      - name: Run Playwright tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          AUTH_USER: ${{ secrets.AUTH_USERNAME }}
          AUTH_PASS: ${{ secrets.AUTH_PASSWORD }}
        run: |
          npx playwright test
